<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>
        <section class="home-section light-gray">
            <div class="container">
                <div class="row">
                    <!--Incomplete Surveys-->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <!--Here design three box-->
                        <!--Show the Assign surveys-->
                        <div *ngIf="employee_details.is_survey == '1'">
                            <h1 style="color: #000;">YOUR EXIT INTERVIEW
                                -- {{employee_details.first_name}} {{employee_details.last_name}}</h1>
                            <ngx-datatable
                                    [rows]="completedSurveys"
                                    [columnMode]="'force'"
                                    [headerHeight]="40"
                                    [footerHeight]="50"
                                    [rowHeight]="'auto'"
                                    [externalPaging]="true"
                                    [count]="count"
                                    [offset]="offset"
                                    [limit]="limit"
                                    (page)='onChangeCompletedSurveys($event)'>
                                <ngx-datatable-column name="title">
                                    <ng-template let-column="column" ngx-datatable-header-template>
                                        Survey Title
                                    </ng-template>
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <strong>{{value}}</strong>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="description">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span>Survey Description</span>
                                    </ng-template>
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <div [innerHTML]="value"></div>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="noOfQuestion">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span># Questions</span>
                                    </ng-template>
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <strong>{{value}}</strong>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="id">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span>Action</span>
                                    </ng-template>
                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <button type="button" class="btn btn-primary"
                                                (click)="onClickGoSurvey(value,row.completed)">
                                            GO
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div *ngIf="employee_details.is_survey == '0'">
                            <h1 style="color: #000;">YOUR ARE NOT ELIGIBLE FOR EXIT INTERVIEW
                                -- {{employee_details.first_name}} {{employee_details.last_name}}</h1>
                        </div>

                        <!--If click on the go button then redirect to the questions page-->
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </section>
    </nb-layout-column>
</nb-layout>
