@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

:host ::ng-deep .datatable-icon-prev::before {
  content: '<<';
}
:host ::ng-deep .datatable-icon-left::before {
  content: '<';
}

:host ::ng-deep .datatable-icon-right::before {
  content: '>';
}
:host ::ng-deep .datatable-icon-skip::before {
  content: '>>';
}
:host ::ng-deep .ngx-datatable {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  /**
   * Shared Styles
   */
  /**
   * Global Row Styles
   */
  /**
   * Header Styles
   */
  /**
   * Body Styles
   */
  /**
   * Footer Styles
   */
}
:host ::ng-deep .ngx-datatable.fullscreen {
  position: absolute !important;
  height: auto !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}
:host ::ng-deep .ngx-datatable.scroll-vertical {
  height: 70vh;
}
:host ::ng-deep .ngx-datatable:not(.cell-selection) .datatable-body-row:hover, :host ::ng-deep .ngx-datatable:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  transition: background 200ms linear;
}
:host ::ng-deep .ngx-datatable.cell-selection .datatable-body-cell:hover, :host ::ng-deep .ngx-datatable.cell-selection .datatable-body-cell:hover .datatable-row-group {
  transition: background 200ms linear;
}
:host ::ng-deep .ngx-datatable .empty-row {
  height: 50px;
  text-align: left;
  padding: 0.5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
}
:host ::ng-deep .ngx-datatable .loading-row {
  text-align: left;
  padding: 0.5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
}
:host ::ng-deep .ngx-datatable .datatable-header .datatable-row-left,
:host ::ng-deep .ngx-datatable .datatable-body .datatable-row-left {
  background-color: white;
  background-position: 100% 0;
  background-repeat: repeat-y;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #342e73;
}
:host ::ng-deep .ngx-datatable .datatable-header .datatable-row-right,
:host ::ng-deep .ngx-datatable .datatable-body .datatable-row-right {
  background-position: 0 0;
  background-color: white;
  background-repeat: repeat-y;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #342e73;
}
:host ::ng-deep .ngx-datatable .datatable-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #342e73;
}
:host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell {
  text-align: left;
  padding: 0.5rem 1.2rem;
  font-weight: 400;
  color: #fff;
  vertical-align: bottom;
}
:host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-wrapper {
  position: relative;
}
:host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell.longpress .draggable::after {
  transition: transform 200ms ease, opacity 200ms ease;
  opacity: 0.5;
  transform: scale(1);
}
:host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell .draggable::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 100%;
  opacity: 1;
  filter: none;
  transform: scale(0);
  z-index: 9999;
  pointer-events: none;
}
:host ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell.dragging .resize-handle {
  border-right: none;
}
:host ::ng-deep .ngx-datatable .datatable-header .resize-handle {
  border-right: solid 1px #342e73;
}
:host ::ng-deep .ngx-datatable .datatable-body .datatable-row-detail {
  background: #f5f5f5;
  padding: 10px;
}
:host ::ng-deep .ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding: 0.5rem 1.2rem;
  vertical-align: top;
  border-top: 0;
  transition: width 200ms ease;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #342e73;
}
:host ::ng-deep .ngx-datatable .datatable-body .progress-linear {
  display: block;
  position: relative;
  width: 100%;
  height: 5px;
  padding: 0;
  margin: 0;
}
:host ::ng-deep .ngx-datatable .datatable-body .progress-linear .container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5px;
  transform: translate(0, 0) scale(1, 1);
  background-color: #aad1f9;
}
:host ::ng-deep .ngx-datatable .datatable-body .progress-linear .container .bar {
  animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 200ms linear;
  background-color: #106cc8;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}
:host ::ng-deep .ngx-datatable .datatable-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
}
:host ::ng-deep .ngx-datatable .datatable-footer .page-count {
  line-height: 50px;
  height: 50px;
  padding: 0 1.2rem;
}
:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager {
  margin: 10px;
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  justify-content: flex-end;
  align-content: stretch;
  align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-pack: end;
}
:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager {
  display: flex !important;
  padding-left: 0;
  height: 100%;
  list-style: none;
  border-radius: 5px;
}
:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager li:first-child a {
  margin-left: 0;
  height: 100%;
  border-bottom-left-radius: 5px;
}
:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager li:last-child a {
  border-bottom-right-radius: 5px;
  height: 100%;
}
:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager li.active a {
  z-index: 2;
  color: #fff;
  background-color: #304ffe;
  border-color: #304ffe;
  height: 100%;
}
:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager li.disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  height: 100%;
  border-color: #304ffe;
  opacity: 0.4;
}
:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager li a {
  position: relative;
  display: block;
  height: 100%;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #304ffe;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager li a:hover {
  color: #0123e0;
  text-decoration: none;
  background-color: #6c757d;
  border-color: #dee2e6;
}
:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager li a i {
  height: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  font-size: 16px;
}

/**
 * Checkboxes
**/
:host ::ng-deep .datatable-checkbox {
  position: relative;
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 0;
}
:host ::ng-deep .datatable-checkbox input[type=checkbox] {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
  outline: none;
}
:host ::ng-deep .datatable-checkbox input[type=checkbox]:before {
  transition: all 200ms ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
:host ::ng-deep .datatable-checkbox input[type=checkbox]:checked:before {
  transform: rotate(-45deg);
  height: 0.5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
:host ::ng-deep .datatable-checkbox input[type=checkbox]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: white;
  cursor: pointer;
}

/**
 * Progress bar animations
 */
@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(0.3, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}